/* Global style sheet */

body {
    background: #ffffff;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px auto;
}

header, main, footer {
    background-color: #611f01;
}

/* Header style sheet */

header {
    height: 60px;
    background-color: bisque;
    margin: 0px auto;
    width: 100%;
}

.top-nav {
    display: flex;
    min-width: 300px;
    max-width: 1000px;
    border: 1px solid red;
    margin: 0px auto;
}

/* Main Style sheet */

main {
    background-color: rgb(188, 255, 167);
    margin: 0px auto;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 300px;
    max-width: 1000px;
    border: 1px solid red;
    margin: 0px auto;
}

.main-1, .main-3 {
    flex: 1;
    border: 1px solid blue;
}

.main-2 {
    flex: 1;
    border: 1px solid orangered;
    margin: auto;
    display: flex;
    gap: 35px;
}

.card {
    margin: auto;
    width: 260px;
    height: 150px;
    border-radius: 20px;
    font-style: italic;
}

.home span, .profile span, .login span {
    margin: auto;
}